<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>添加用户</title>
<script type='text/javascript' src="/js/jquery-1.8.2.js"></script>
<script type='text/javascript'>
	function mysubmit() {
		$.post("/user/save", {
			name : $('#name').val(),
			email : $('#email').val()
		}, function(data, status) {

		});
	}
</script>
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
#set($name = 'hello,'+$myname)
<p>$name</p>
<a href="/user/query">用户查询</a>
	<br/>
	<table class="table table-bordered">
		<tr>
			<td>用户名：</td>
			<td><input id="name" type="text" name="name" /></td>
		</tr>
		<tr>
			<td>邮箱：</td>
			<td><input id="email" type="text" name="email" /></td>
		</tr>
		<tr>
			<td><a onclick="mysubmit()">提交</a></td>
		</tr>
	</table>
	<hr/>
	#foreach($name in $listUserName)
		<button class="btn btn-delete">$name</button>
	#end
	<hr/>
	<table class="table">
		<tr><td>$user.Name</td><td>$user.Email</td></tr>
		<tr><td>$user.Sex</td><td>$user.Birthday</td></tr>
		<tr><td>$user.Hometown</td></tr>
	</table>
	<hr/>
	#if($map1) 
		<select>
			<option value="">--请选择--</option>
			#foreach($key in $map.keySet())
				<option value=$key>$map.get($key)</option>
			#end			
		</select>
	#end
	<hr/>
	<table class="table table-bordered	table-striped	table-hover	">
		#foreach($user in $listUser)
		<tr>
			<td>$user.Name</td>
			<td>$user.Email</td>
			<td>
				#if($user.Sex == 'MAN')
					男
				#else
					女
				#end
			</td>
			<td>$user.Birthday</td>
			<td>$user.Hometown</td>
		</tr>
		#end
	</table>
	
</body>
</html>